.js-minus-btn{
border: none;
background-color: #F2F3F7;
width: 37.89px;
height: 40px;
}

.js-plus-btn{
border: none;
background-color: #F2F3F7;
width: 37.89px;
height: 40px;
}

.js-number{
    width: 37.89px;
    height: 40px;
    border: none;
    padding-left: 10px;
    
}